*{
    margin: 0;
    padding: 0;
}
.background-image {
    background-image: url('anh/0342_cac-dong-song-viet-nam-mytour-14.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.body-logo{
    position: absolute;
    top: 9%;
    left: 18%;
    transform: translate(-50%, -50%);
}
.body-logo-1{
    width: 18vh;
}
.body-title{
    position: absolute;
    top: 7%;
    left: 90vh;
    transform: translate(-50%, -50%);
    width: 200vh;
    text-align: center;
}
.front-os{
    font-family: 'Oswald', serif !important;
}
.body-title-1{
    color: #0a1873;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4vh;
}
.body-menu-a{
    position: absolute;
    top:50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 70vh;
}
.front-ro{
    font-family: 'Roboto', sans-serif !important;
}
.body-menu-1{
    background-color: rgba(94, 250, 3, 0.81);
    margin: 0 0 15px 0;
    color: #100f0f;
    padding: 11px 6px;
    border-radius: 4px;
    height: 5vh;
    cursor: not-allowed;
}
.body-menu-1-1{
    width: 6vh;
    float: left;
    height: 100%;
    background: url("anh/Road Signs (46).png") no-repeat 1px -2px;
    background-size: auto 46px;
}
.body-menu-1-2{
    width: calc(100% - 70px);
    float: left;
    padding: 0 0 0 0px;
    font-size: 4vh;
    margin: 0 0 0 24px;
    position: relative;
    top: 2px;
    color: #ffffff;
}
.body-menu-2-1{
    width: 6vh;
    float: left;
    height: 100%;
    background: url("anh/icon2.png") no-repeat 1px -2px;
    background-size: auto 46px;
}
.body-menu-2-2{
    width: calc(100% - 70px);
    float: left;
    padding: 0 0 0 0px;
    font-size: 4vh;
    margin: 0 0 0 24px;
    position: relative;
    top: 1px;
    color: #ffffff;
}
.body-title-14{
    position: absolute;
    top: 12%;
    left: 90vh;
    transform: translate(-50%, -50%);
    width: 200vh;
    text-align: center;
}
.body-title-2{
    color: #0a1873;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4vh;
}
.body-menu-2{
    background-color: rgba(94, 250, 3, 0.81);
    margin: 0 0 15px 0;
    color: #100f0f;
    padding: 11px 6px;
    border-radius: 4px;
    height: 5vh;
    cursor: not-allowed;
}
.body-menu-b{
    position: absolute;
    top:60%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 70vh;
}
.body-menu-c{
    position: absolute;
    top:70%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 70vh;
}
.body-menu-3{
    background-color: rgba(94, 250, 3, 0.81);
    margin: 0 0 15px 0;
    color: #100f0f;
    padding: 11px 6px;
    border-radius: 4px;
    height: 5vh;
    cursor: not-allowed;
}
.body-menu-3-1{
    width: 6vh;
    float: left;
    height: 100%;
    background: url("anh/icon3.png") no-repeat 1px -2px;
    background-size: auto 46px;
}
.body-menu-3-2{
    width: calc(100% - 70px);
    float: left;
    padding: 0 0 0 0px;
    font-size: 4vh;
    margin: 0 0 0 24px;
    position: relative;
    top: 2px;
    color: #ffffff;
}
.body-ttlh{
    position: absolute;
    bottom: -3%;
    left: 58%;
    transform: translate(-50%,-50%);
    width: 170vh;
    line-height: 3vh;
    text-align: right;
    color: rgb(145, 24, 24);
}
.body-ttlh-1{
    font-style: italic;
}
.body-ttlh-2{
    color: rgb(145, 24, 24);
    font-size: 2.5vh;
}